<li class="chat">
    <div class="chat__info">
        {{> Avatar}}
        <div class="chat__main">
            {{> ChatTitle }}
            <p class="chat__message">{{message}}</p>
        </div>
    </div>

    <div class="chat__minor">
        <p class="chat__date">{{time}}</p>
        <div class="chat__counter">{{counter}}</div>
    </div>
</li>