<li class="chat">
    <div class="chat__info">
        <img src="/assets/avatar.png" alt="chatAvatar" height="40" width="40" />
        <div class="chat__main">
            <h1 class="chat__title">{{title}}</h1>
            <p class="chat__message">{{message}}</p>
        </div>
    </div>

    <div class="chat__minor">
        <p class="chat__date">{{time}}</p>
        <div class="chat__counter">{{counter}}</div>
    </div>
</li>