<form class="chatSend">
    <img src="/assets/file.svg" alt="file" />

    <input class="chatSend__input" placeholder="Сообщение" />

    <button class="chatSend__send" type="submit">
        <img src="/assets/arrow.svg" alt="send" class="chatSend__arrow" />
    </button>
</form>