<form class="chatSend">
    {{> Image src="/assets/file.svg" alt="file" }}

    {{> Input className="chatSend__input" placeholder="Сообщение" type='test' id='test' name='test' }}

    {{#> ButtonImage className="chatSend__send" type="submit"}}
        {{> Image src="/assets/arrow.svg" alt="send" className="chatSend__arrow"}}
    {{/ ButtonImage }}
</form>