{{#> BaseLayout}}

    <form id="authorizationForm" class="formWrapper">
        <h1 class="title">{{title}}TTI</h1>
        <div class="blockWrapper">
            {{> TextField type="text" id="login" name="login" helper="Логин" }}
            {{> TextField type="password" id="password" name="password" helper="Пароль" }}
        </div>

        <div class="blockWrapper">
            <button type="submit">Авторизоваться</button>
            <a href="/registration">Нет аккаунта ?</a>
        </div>
    </form>

{{/ BaseLayout}}