{{#> baseLayout}}
    <h1>{{title}}</h1>

    <form id="authorizationForm">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Authorize</button>
    </form>

    <p id="errorMessage" style="color: red; display: none;">Invalid login or password. Please try again.</p>

    <p>Don't have an account? <a href="/registration">Register here</a></p>

    {{> footer}}
{{/ baseLayout}}