.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    width: 320px;
    height: 442px;
    border: 1px solid var(--secondary_dark);
}

.title {
    color: var(--primary_text);
    font-size: var(--fs-title);
    font-weight: var(--fw-title);
}

.blockWrapper {
    display: flex;
    flex-direction: column;
}
