.formWrapper {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: var(--g24) var(--g20);
    width: 320px;
    border: var(--b);
    background-color: var(--primary_bg);
    row-gap: var(--g24);
}

.title {
    color: var(--primary_text);
    font-size: var(--fs-title);
    font-weight: var(--fw-title);
    margin: 0;
}

.fieldWrapper {
    row-gap: var(--g20);
}

.buttonWrapper {
    row-gap: var(--g12);
}
