<div class="profileHeader">
    <div class="profile__avatar">
        <img
            src="/assets/union.svg"
            alt="avatar"
            class="profileHeader__avatarDefault"
        />
    </div>

    <h1 class="profileHeader__name">Name</h1>
</div>