.errorPage {
    row-gap: var(--g20);
}

.errorTitle {
    margin: 0;
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
}

.subtitle {
    margin: 0;
    font-size: var(--fs-h6);
    font-weight: var(--fw-h6);
}
