<div class="searchWrapper">
    {{>Image src="/assets/search.png" alt="search"  width="20" height="20"}}
    {{> Input className="search" placeholder=placeholder type=type id=id name=name pattern=pattern }}
</div>