{{#> BaseLayout}}

<div class="vertical vcenter errorPage">
    <h1 class="errorTitle">{{data.title}}</h1>
    <p class="subtitle">{{data.subtitle}}</p>

    {{> Link href='/chats' text='Назад к чатам'}}
</div>

{{/ BaseLayout}}