<div class="chatHeader">
    <div class="chatHeader__info">
        {{> Avatar}}
        {{> ChatTitle title=data.title}}
    </div>
    <button class="chatHeader__menu" type="menu">
        <img src="/assets/menu.svg" alt="menu"/>
    </button>
</div>