<div class="profileHeader">
    <div class="profileHeader__avatar">
        {{>Image src="/assets/union.svg" alt="avatar"  class="profileHeader__avatarDefault"}}
    </div>

    <h1 class="profileHeader__name">Name</h1>
</div>