.profilePrev {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary_bg_default);

    &__arrow {
        width: 16px;
        height: 16px;
    }

    &__prevButton {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: var(--g20);
        background-color: var(--primary);
        border: none;
    }
}
