<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization Form</title>
</head>
<body>
    {{> (partial 'header')}}
    
    <h1>Authorization Form</h1>

    <form id="authorizationForm">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Authorize</button>
    </form>

    <p id="errorMessage" style="color: red; display: none;">Invalid login or password. Please try again.</p>

    <p>Don't have an account? <a href="/registration">Register here</a></p>

    {{> (partial 'footer')}}
</body>
</html>