.chatWindow {
    display: flex;
    flex-direction: column;
    padding: 12px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: var(--g16);
        border-bottom: var(--b);
        padding: var(--g4) 0;
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: var(--g16);
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary);
        width: 25px;
        height: 25px;
        border-radius: 20px;
    }

    &__date {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: var(--secondary_text);
        font-size: var(--fs-chat_date);
        font-weight: var(--fw-chat_date);
        margin: 0;
    }

    &__message {
        padding: var(--g12);
        background-color: var(--secondary);
        width: 40%;
        color: var(--primary_text);
        font-size: var(--fs-chat-message-text);
        font-weight: var(--fw-chat-message-text);
        border-radius: 0 var(--g12) var(--g12);
    }

    &__messageDate {
        justify-content: flex-end;
    }

    &__messageText {
        margin: 0;
    }

    &__myMessage {
        padding: var(--g12);
        background-color: var(--primary_light);
        width: 40%;
        color: var(--primary_text);
        font-size: var(--fs-chat-message-text);
        font-weight: var(--fw-chat-message-text);
        border-radius: 0 var(--g12) var(--g12);
    }
}
