<div class="profileParam">
    {{#if textLink}}
        {{> Link text=textLink href=href}}

    {{#if action}}
        {{> @partial-block }}
    {{/if}}

    {{else}}
        <p class="profileParam__param">{{param}}</p>
        <p class="profileParam__value">{{value}}</p>
    {{/if}}

</div>