.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--secondary_bg);
    box-sizing: border-box;
    padding: var(--g20) var(--g12);
    row-gap: var(--g16);
    height: 100vh;
    overflow-y: scroll;
}

.sidebarMenu {
    display: flex;
    justify-content: flex-end;
    padding: var(--g24) var(--g12);
}

.chats {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
