<div class="sidebar">
    {{> Link text="Профиль" href='/profile'}}
    {{> SearchField type="text" id="search" name="message" placeholder="search" }}

    <ul class="chats">
     {{#each data.chats}}
            {{>ChatItem title=this.title}}
        {{/each}}
    </ul>
</div>