@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/font/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/font/Roboto-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    height: 100vh;
}

#app {
    height: 100%;
}

.root {
    height: 100%;
    // color
    --primary: #1c3d70;
    --primary_light: #e5d8f9;
    --primary_text: #1e1e1e;
    --primary_text_white: #ffffff;
    --primary_bg: #f1f1f1;
    --primary_bg_default: #ffffff;
    --primary_hint: #999999;
    --primary_link: #3369f3;
    --primary_error: #ff2f2f;
    --secondary: #efefef;
    --secondary_dark: #272727;
    --secondary_bg: #fbfbfb;
    --secondary_text: #999999;

    // font family
    --ff: "Roboto", sans-serif;
    font-family: var(--ff);

    // font-size
    --fs8: 8px;
    --fs9: 9px;
    --fs12: 12px;
    --fs13: 13px;

    --fs-title: 20px;
    --fs-input_text: var(--fs13);
    --fs-base: 11px;
    --fs-button_text: 14px;
    --fs-helper_text: var(--fs9);
    --fs-hint_text: var(--fs8);
    --fs-h1: 40px;
    --fs-h6: 20px;
    --fs-chat_name: var(--fs13);
    --fs-chat_last: var(--fs12);
    --fs-chat_date: var(--fs9);
    --fs-chat-message-text: var(--fs12);
    --fs-profile_param: var(--fs13);
    --fs-profile_value: var(--fs13);

    // font weight
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fw-title: var(--fw-bold);
    --fw-input_text: var(--fw-regular);
    --fw-base: var(--fw-regular);
    --fw-button_text: var(--fw-medium);
    --fw-helper_text: var(--fw-regular);
    --fw-hint_text: var(--fw-regular);
    --fw-h1: var(--fw-bold);
    --fw-h6: var(--fw-bold);
    --fw-chat_name: var(--fw-medium);
    --fw-chat_last: var(--fw-regular);
    --fw-chat_date: var(--fw-regular);
    --fw-chat-message-text: var(--fw-regular);
    --fw-profile_param: var(--fw-regular);
    --fw-profile_value: var(--fw-regular);

    // gaps
    --g54: 54px;
    --g24: 24px;
    --g20: 20px;
    --g16: 16px;
    --g12: 12px;
    --g8: 8px;
    --g4: 4px;

    // border
    --b: 1px solid var(--secondary_dark);
    --br: 8px;

    // orientation
    .vertical {
        display: flex;
        flex-direction: column;
    }

    .vcenter {
        align-items: center;
    }

    .hcenter {
        justify-content: center;
    }

    .fullWidth {
        width: 100%;
    }
}
