.textField {
    row-gap: var(--g4);
}

.label {
    color: var(--primary_hint);
    font-size: var(--fs-helper_text);
}

.input {
    background-color: var(--primary_bg);
    border: none;
    border: var(--b);
    outline: none;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    padding-left: var(--g8);
}

.error-message {
    color: var(--primary_error);
    font-size: var(--fs-hint_text);
}
